@font-face {
  font-family: 'SUITE-Regular';
  src: url('./fonts/SUITE-Regular.ttf');
  font-weight: 400;
  
}
*{
  font-family: 'SUITE-Regular';
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;  
  display: block;
  align-items: center;
  padding: 0 0px;
  justify-content: center;
  min-height: 100vh;
  background: #f5f2e2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
